#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
  display: flex;
  flex-direction: column;
  background-color:  #2f3545;
  color: white;
  border-radius: 30px;
}

@media (max-width: 600px) {
  .card {
    padding: 0px;
  }

  #root{
    padding: 2rem 0;
  }
}

button {
  height: 2rem;
  padding: 0 0.4rem;
  border-radius: 1.5rem;
  border: 1px solid whitesmoke;
  background: #384874;
  color: #fff;
  display: block;
  margin: 0 auto;
  margin-top: 5px;
  cursor: pointer;
  font-size: 17px;
}

button:hover {
  background: #374c85;
  transition: .3s;
}

input {
  font-size: 100%;
  padding: 0.4em;
  outline: none;
  border: 2px solid rgb(200, 200, 200);
  background-color: #e8e8e8;
  border-radius: 20px;
  width: 150px;
  display: inline;
  margin: 5px 5px;
}

select {
  font-size: 100%;
  padding: 0.4em;
  outline: none;
  border: 2px solid rgb(200, 200, 200);
  background-color: #e8e8e8;
  border-radius: 20px;
  width: 150px;
  display: inline;
  margin: 5px 5px;
}

label {
  display: block;
  color: #b5bed3;
}

